bottlenose==1.1.8
Django==2.2.24
django-markdown-deux==1.0.5
gunicorn==19.9.0
lxml==4.2.5
markdown2==2.3.7
pip==18.1
psycopg2==2.7.6.1
psycopg2-binary==2.7.6.1
python-amazon-simple-product-api==2.2.11
python-dateutil==2.7.5
pytz==2018.7
setuptools==40.6.3
six==1.12.0
wheel==0.32.3

