

<div class="container">
    <hr>
    <p>&copy; 2018-2022 - Devon Biere</p>

    <table class="db-table-contacts">
        <tr>
            <td class="db-contact-icon"><a href="https://github.com/dbiere"><i class="fab fa-github"></i></a></td>
            <td><a href="https://github.com/dbiere">Github - dbiere</a></td>
        </tr>
        <tr>
            <td class="db-contact-icon"><a href="https://www.linkedin.com/in/dbiere/"><i class="fab fa-linkedin"></i></a></td>
            <td><a href="https://www.linkedin.com/in/dbiere/">LinkedIn - Devon Biere</a></td>
        </tr>
        <tr>
            <td class="db-contact-icon"><a href="https://blog.dbiere.com/"><i class="fab fa-medium"></i></a></td>
            <td><a href="https://blog.dbiere.com/">Medium - @dbiere</a></td>
        </tr>
        <tr>
            <td class="db-contact-icon"><a href="https://twitter.com/DevonBiere"><i class="fab fa-twitter"></i></a></td>
            <td><a href="https://twitter.com/DevonBiere">Twitter - @DevonBiere</a></td>
        </tr>
    </table>

    <br>

</div>
