

<div class="container">
    <hr>
    <p>&copy; 2018-2021 - Devon Biere</p>

    <table class="db-table-contacts">
        <tr>
            <td class="db-contact-icon"><a href="https://www.linkedin.com/in/dbiere/"><i class="fab fa-linkedin"></i></a></td>
            <td><a href="https://www.linkedin.com/in/dbiere/">Devon Biere</a></td>
        </tr>
        <tr>
            <td class="db-contact-icon"><a href="https://github.com/dbiere"><i class="fab fa-github"></i></a></td>
            <td><a href="https://github.com/dbiere">Github - dbiere</a></td>
        </tr>
        <tr>
            <td class="db-contact-icon"><a href="https://twitter.com/devon_biere"><i class="fab fa-twitter"></i></a></td>
            <td><a href="https://twitter.com/devon_biere">Twitter - @devon_biere</a></td>
        </tr>
    </table>

    <br>

</div>