

<div class="container">
    <hr>
    <p>&copy; 2018-2024 - Devon Biere</p>

    <table class="db-table-contacts">
        <tr>
            <td class="db-contact-icon"><a href="https://github.com/dbiere"><i class="fab fa-github"></i></a></td>
            <td><a href="https://github.com/dbiere" target="_blank" rel="noopener noreferrer">Github - dbiere</a></td>
        </tr>
        <tr>
            <td class="db-contact-icon"><a href="https://www.linkedin.com/in/dbiere/"><i class="fab fa-linkedin"></i></a></td>
            <td><a href="https://www.linkedin.com/in/dbiere/" target="_blank" rel="noopener noreferrer">LinkedIn - Devon Biere</a></td>
        </tr>
        <tr>
            <td class="db-contact-icon"><a href="https://blog.dbiere.com/"><i class="fab fa-medium"></i></a></td>
            <td><a href="https://blog.dbiere.com/" target="_blank" rel="noopener noreferrer">Medium - @dbiere</a></td>
        </tr>
    </table>

    <br>

</div>
