
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" id="mainNavbarContainer">
    <a class="navbar-brand" href="{% url 'index' %}"><h1 class="db-navbar-heading" data-toc-skip>Devon Biere</h1></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar"
        aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link {% if '/' == request.path %} active {% endif %}" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if 'media_diet' in request.path %} active {% endif %}" href="{% url 'media_diet' %}">Media Diet</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://blog.dbiere.com/" target="_blank" rel="noopener noreferrer">Blog</a>
            </li>
        </ul>
    </div>
</nav>
