{% extends 'base.html' %}

{% load static %}

{% block title %} Home {% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-6">

        <h1>Hi, I'm Devon.</h1>

        <p>I'm a solutions architect interested in application integration, data engineering, event-driven architecture, and software design.
            I live in Lorain, Ohio with my wife Chrissie and our dog Banjo.
            We're the proud parents of <a href="https://www.linkedin.com/in/nick-biere/">Nick</a> and <a href="https://leilaninoel.com/">Leilani</a>.</p>

        <img src="{% static 'img/dbiere/devon_banjo_2021-10.jpg' %}" class="float-right db-profile-pic">

        <p>I grew up in Cincinnati where I had the incredible good luck to attend the <a href="https://en.wikipedia.org/wiki/School_for_Creative_and_Performing_Arts">School for Creative and Performing Arts (SCPA)</a>. I studied Music Education at Ohio State and still love to <a href="https://devdogmusic.com">write and arrange music</a> when I get time, although my few pro credits are long behind me.</p>

        <h2>Random Bits</h2>

        <ul>
            <li>I love to learn. I always have a book in my hands or a podcast in my earbuds.</li>
            <li>When I was a kid, my dream jobs were typist, animator, astronaut, ILM special effects artist, and film music composer. If my 7-year-old self could see me now, spending 90% of my day typing, he would be ecstatic.</li>
            <li>My favorite non-fiction book is <em>A Short History of Nearly Everything</em> by Bill Bryson.</li>
            <li>My name is pronounced DEH-vin bee-AIR.</li>
        </ul>

    </div><!-- END left column-->

    <!-- Right column -->
    <div class="col-md-6">
        <h3>Contact / Follow</h3>
        <table class="db-table-contacts">
            <!-- Disable until I can get email set up 
                
                <tr>
                <td class="db-contact-icon"><i class="fas fa-envelope"></i></td>
                <td>contact [at] dbiere.com</td>
            </tr>
            -->
            <tr>
                <td class="db-contact-icon"><a href="https://github.com/dbiere"><i class="fab fa-github"></i></a></td>
                <td><a href="https://github.com/dbiere">Github - dbiere</a></td>
            </tr>
            <tr>
                <td class="db-contact-icon"><a href="https://www.linkedin.com/in/dbiere/"><i class="fab fa-linkedin"></i></a></td>
                <td><a href="https://www.linkedin.com/in/dbiere/">LinkedIn - Devon Biere</a></td>
            </tr>
            <!--
                <tr>
                <td class="db-contact-icon"><a href="https://blog.dbiere.com/"><i class="fab fa-medium"></i></a></td>
                <td><a href="https://blog.dbiere.com/">Medium - @dbiere</a></td>
            </tr>
        -->

        </table>

        <br>

        <h3>What's Up?</h3>

        <ul>
            <li>Recently composed my first orchestral piece (<a href="https://www.youtube.com/watch?v=ww5sBPvASH4">Adventures with Boo</a>) as a college graduation gift for my daughter.</li>
            <li>Wrote my first original choral piece (<a href="https://www.youtube.com/watch?v=mK4E5qNxkq0">Come to Me</a>) since college.</li>
            <li>Completed my <a href ="https://www.wgu.edu/online-it-degrees/data-management-analytics-bachelors-program.html">B.S. of Data Management/Data Analytics</a> at WGU in June 2021.</li>
            <li>Diving back into Python and Django. The source code for this site is shared on <a href="https://github.com/dbiere/dbiere_com_django">Github</a>.</li>
            {% if recent_books %}
            <li>Recently read...
                <ul>
                {% for book in recent_books %}
                    <li><em><strong>{{ book.title }}</strong>
                        <span class="media-info-light"> by
                        {% for author in book.author.all %}
                            {{ author.display_name }}{%if not forloop.last%}, {%endif%}
                        {% endfor %}
                        ({{ book.year_published}})
                        </span>
                    </em></li>
                {% endfor %}
                    <li><a href="{% url 'books' %}">More...</a>
                </ul>
            </li>
            {% endif %}
            {% if recent_movies %}
            <li>Recently watched... 
                <ul>
                {% for movie in recent_movies %}
                    <li><em><strong>{{ movie.title }}</strong> <span class="media-info-light">({{ movie.year_released }})</span></em></li>
                {% endfor %}
                    <li><a href="{% url 'movies' %}">More...</a>
                </ul>
            </li>
            {% endif %}
        </ul>

    </div>
    <!-- END right column -->

</div><!-- END left/right row -->


{% endblock %}