{% extends 'base.html' %}

{% load static %}

{% block title %} Media Diet {% endblock %}

{% block content %}


<h1>Media Diet</h1>

<div class="row">

    <!-- Books -->
    <div class="col-md-4">
        <h2><a href="{% url 'books' %}">Books I've Read</a></h2>

        <p>All the books I've ever read.

        {% if recent_books %}
            Most recent ones...</p>

            <ul>
            {% for book in recent_books %}
                <li>{{ book.title }}</li>
            {% endfor %}
                <li><a href="{% url 'books' %}">More...</a></li>
            </ul>
        {% else %}
            </p>
        {% endif %}

    </div>

    <!-- Movies -->
    <div class="col-md-4">
        <h2><a href="{% url 'movies' %}">Movies I've Watched</a></h2>

        <p>All the movies I've ever seen.
            
        {% if recent_movies %}
            Most recent ones...</p>
            <ul>
            {% for movie in recent_movies %}
                <li>{{ movie.title }} <span class="media-info-light">({{ movie.year_released}})</li>
            {% endfor %}
                <li><a href="{% url 'movies' %}">More...</a></li>
            </ul>
        {% else %}
            </p>
        {% endif %}

    </div>

    <!-- What??? -->
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h4>Huh? Really? Why?</h4>
            </div>
            <div class="card-body">
                <ul>
                    
                    <li>Books and movies are a big part of my life, and I like to keep track of them</li>
                    <li>I can use this for some interesting data projects down the road</li>
                    <li>You might stumble across ideas of things to read and watch in here</li>
                    <li>I'm thinking of expanding this to include 
                        <a href="https://kottke.org/tags/word.php?word=media%20diet">kottke</a>-style capsule reviews at some point</li>
                    <li>This is a good way for me to improve my Python / Django skills</li>
                    <li>Why not? :)</li>
                </ul>
            </div>
        </div>
    </div>
    

</div>


{% endblock %}