{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% load markdown_deux_tags %}

{% block title %} Resume {% endblock %}

{% block content %}

<h1 data-toc-skip>Resume</h1>

<div class="row">

    <!-- Main content -->
    <div class="col-12 col-md-10"> 

    {% if resume_summary.overview %}
        <h2>Overview</h2>
        {% markdown %}{{ resume_summary.overview }}{% endmarkdown %}
        <hr>
    {% endif %}

    {% if resume_summary.qualifications %}
        <h2 data-toc-text="Qualifications">Summary of Qualifications</h2>
        {% markdown %}{{ resume_summary.qualifications }}{% endmarkdown %}
        <hr>
    {% endif %}

    {% if jobs %}
        <h2>Experience</h2>
        {% for job in jobs %}
            <div class="row">
                <div class="col-8"><strong>{{ job.title }}</strong></div>
                <div class="col-4 text-right"><em>{{ job.date_started|date:'M Y' }} -
                {% if job.date_ended %}
                    {{ job.date_ended|date:'M Y' }}
                {% else %}
                    Present
                {% endif %}</em>
                </div>
            </div>
            <div class="row">
                <div class="col-6">{{ job.company }}</div>
                <div class="col-6 text-right">{{ job.location }}</div>
            </div>
            <br>
            {% markdown %}{{ job.description }}{% endmarkdown %}
        {% endfor %}
        <hr>
    {% endif %}

    {% if skills %}
        <h2 data-toc-text="Skills">Primary Skills</h2>
        {% for skill in skills %}
            {% ifchanged skill.skill_area %}
                {% if forloop.first != True %}
                </ul>
                {% endif %}
                <h3>{{ skill.skill_area.name }}</h3>
                <ul>
            {% endifchanged %}
            <li>{{ skill.name }}</li>
        {% endfor %}
        </ul>
        <hr>
    {% endif %}

    <h2>Education</h2>

    <table class="table table-borderless">
        <tbody>
            <tr>
                <td class="justify-content-center"><img class="db-resume-school-logo" src="{% static 'img/resume/wgu_logo.png' %}" alt="Western Governors University Logo"></td>
                <td><strong>Western Governors University</strong><br>
                    B.S. Data Management/Data Analytics<br>
                    <em>Expected in 2020</em></td>
            </tr>
            <tr>
                <td class="justify-content-center"><img class="db-resume-school-logo" src="{% static 'img/resume/osu_logo.png' %}" alt="The Ohio State University Logo"></td>
                <td><strong>Ohio State University</strong><br>
                    Bachelor of Music Education (unfinished)<br>
                    OSU Presidential Scholarship, OSU Men's Glee Club, OSU Statesmen, Symphonic Choir, Chorale, Music Theory, Conducting</td>
            </tr>
            <tr>
                <td class="text-center"><img class="db-resume-school-logo " src="{% static 'img/resume/scpa_logo.png' %}" alt="SCPA Logo"></td>
                <td><strong>School for Creative and Performing Arts</strong><br>
                    H.S. Diploma<br>
                    Class valedictorian, National Honor Society, Corbett-Mayerson Scholarship for Music Composition, Williams College Book Award, junior class treasurer, sophomore class president, Meridian 8 (vocal jazz ensemble), chorale student director/accompanist.</td>
            </tr>
        </tbody>
    </table>

    <hr>

    <h2>Certifications</h2>

    <ul>
        <li>CompTIA A+</li>
        <li>CompTIA Network+</li>
        <li>CompTIA Security+</li>
    </ul>

    <hr>

    {% if patents %}
    <h2>Patents</h2>
    <ul>
        {% for patent in patents %}
        <li><a href ="http://patft1.uspto.gov/netacgi/nph-Parser?patentnumber={{ patent.uspto_number }}">{{ patent.uspto_number | intcomma }}</a> - {{ patent.title }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    </div>
    <!-- END: Main content -->

    <!-- TOC -->
    <div class="d-none d-md-block col-md-2">
            <nav id="toc" data-spy="affix" data-toggle="toc" class="sticky-top"></nav>
    </div>
    <!-- END: TOC-->

</div><!-- END: row -->

<script>
    $('body').scrollspy({ target: '#toc', offset: 80 })
</script>

{% endblock %}